@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(235, 235, 235);
}

.yield{
    padding: 0 40px 0 40px;
}

.articles-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-card{
    width: 100%;
    margin-bottom: 20px;
}